.card-list {
  background-color: rgba(19, 60, 152, 0.158);
  padding: 5px 7px;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba($color: #ffffff, $alpha: 0.1);
  margin: 0 5px;
  max-width: 220px;
  min-width: 220px;

  &__title {
    font-size: 13px;
    font-weight: 600;
    padding: 5px 7px;
    background: #c1e4ec36;
    border-radius: 5px;
    color: #fff;

    span {
      background: #757575;
      margin-left: 5px;
      padding: 0px 5px;
      border-radius: 5px;
    }
  }

  &__content {
    button {
      position: relative;
      bottom: 0;
      left: 0px;
      border: none;
      border-radius: 5px;
      background: #40a9fe;
      padding: 3px 10px;
      color: #fff;
      font-size: 12px;
      margin-top: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    .btn-red {
      background: rgb(224, 68, 68);
      margin-left: 8px;
    }
    textarea {
      font-size: 13px;
      box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.1);
      &:focus {
        height: 100%;
      }
    }
  }
}

.form-container {
  margin: 10px 0;
}
